.row
  .span12
    %form#custom-search-form.form-search.form-horizontal.pull-center
      .input-append.span12
        %input.search-query{:placeholder => "Search", :type => "text"}
          %button.btn{:type => "submit"}
            %i.icon-search